@import '../config.all';
.menu-links {
  display: flex;
  justify-content: center;
  background-color: #011936;
  margin: 0;
  gap: 1rem;
  padding: 2rem 0px;
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  align-content: center;
  &__link {
    list-style: none;
    font-size: 1.2rem;
    a {
      text-decoration: none;
      color: #d7ebba;
      &:hover {
        text-decoration: underline;
        color: white;
        text-underline-offset: 0.4rem;
      }
    }
  }
}
.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}
